<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Box/Box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1148},{316,251}}</string>
                <key>offset</key>
                <string>{-27,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{316,251}}</string>
                <key>sourceSize</key>
                <string>{370,289}</string>
            </dict>
            <key>Box/Box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,861},{314,263}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{314,263}}</string>
                <key>sourceSize</key>
                <string>{370,289}</string>
            </dict>
            <key>Box/Box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,290},{328,285}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{328,285}}</string>
                <key>sourceSize</key>
                <string>{370,289}</string>
            </dict>
            <key>Box/Box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,800},{346,287}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{346,287}}</string>
                <key>sourceSize</key>
                <string>{370,289}</string>
            </dict>
            <key>Box/Box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,438},{360,289}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,289}}</string>
                <key>sourceSize</key>
                <string>{370,289}</string>
            </dict>
            <key>Box/Box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1},{368,287}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{368,287}}</string>
                <key>sourceSize</key>
                <string>{370,289}</string>
            </dict>
            <key>Box/Box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{370,287}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{370,287}}</string>
                <key>sourceSize</key>
                <string>{370,289}</string>
            </dict>
            <key>Challenge_BeiJing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1148},{407,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,221}}</string>
                <key>sourceSize</key>
                <string>{407,221}</string>
            </dict>
            <key>Challenge_Challenge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1198},{3,3}}</string>
                <key>offset</key>
                <string>{-53.5,52.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>Challenge_Challenge_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,861},{84,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,240}}</string>
                <key>sourceSize</key>
                <string>{84,240}</string>
            </dict>
            <key>Challenge_WG0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1096},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>Challenge_WG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1327},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>Challenge_WG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1198},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>Challenge_WG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1296},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>Challenge_anniu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,577},{84,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,240}}</string>
                <key>sourceSize</key>
                <string>{84,240}</string>
            </dict>
            <key>Challenge_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,574},{84,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,240}}</string>
                <key>sourceSize</key>
                <string>{84,240}</string>
            </dict>
            <key>Challenge_baise0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{270,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,435}}</string>
                <key>sourceSize</key>
                <string>{270,435}</string>
            </dict>
            <key>Challenge_baoshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,290},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>Challenge_baoshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1706},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>Challenge_baoshi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1041},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>Challenge_beijingId.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,290},{154,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,23}}</string>
                <key>sourceSize</key>
                <string>{154,23}</string>
            </dict>
            <key>Challenge_chuangkoubg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1557},{342,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,207}}</string>
                <key>sourceSize</key>
                <string>{342,207}</string>
            </dict>
            <key>Challenge_chuangkoubg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,958},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Challenge_chuangkoubg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1571},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Challenge_chuangkoubg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,966},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Challenge_chuangkoubg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1104},{113,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,99}}</string>
                <key>sourceSize</key>
                <string>{113,99}</string>
            </dict>
            <key>Challenge_guan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1428},{252,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,209}}</string>
                <key>sourceSize</key>
                <string>{252,209}</string>
            </dict>
            <key>Challenge_guan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1126},{300,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,260}}</string>
                <key>sourceSize</key>
                <string>{300,260}</string>
            </dict>
            <key>Challenge_hongyuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1219},{106,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{106,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Challenge_lanyuan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1466},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>Challenge_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,574},{184,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,190}}</string>
                <key>sourceSize</key>
                <string>{184,190}</string>
            </dict>
            <key>Challenge_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,766},{184,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,190}}</string>
                <key>sourceSize</key>
                <string>{184,190}</string>
            </dict>
            <key>Challenge_tiao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,446},{97,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,23}}</string>
                <key>sourceSize</key>
                <string>{97,23}</string>
            </dict>
            <key>Challenge_tiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1428},{105,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,31}}</string>
                <key>sourceSize</key>
                <string>{105,31}</string>
            </dict>
            <key>Challenge_tongbei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1466},{264,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,291}}</string>
                <key>sourceSize</key>
                <string>{264,291}</string>
            </dict>
            <key>Challenge_tongbeiicon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1230},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>Challenge_tongbeiiconbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1646},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>Challenge_wenhao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,816},{100,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,148}}</string>
                <key>sourceSize</key>
                <string>{100,148}</string>
            </dict>
            <key>Challenge_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1682},{190,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,75}}</string>
                <key>sourceSize</key>
                <string>{190,75}</string>
            </dict>
            <key>Challenge_yuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1096},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>flash/wenhao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,404},{42,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{42,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1631},{42,73}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{42,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1186},{42,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{42,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1293},{34,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{34,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1365},{26,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{26,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,290},{16,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{16,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1126},{18,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{18,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1466},{28,75}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{28,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1329},{34,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{34,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao17.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,819},{40,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{40,75}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,481},{42,73}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{42,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,966},{38,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{38,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,885},{26,73}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{26,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1126},{18,73}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{18,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,810},{28,73}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{28,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1571},{34,73}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{34,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,660},{42,73}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{42,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>flash/wenhao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,735},{42,73}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{42,73}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>guangif_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1390},{94,80}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>guangif_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1472},{94,80}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>guangif_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1554},{94,80}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>guangif_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1636},{94,80}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>guangif_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1393},{94,80}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>guangif_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1489},{94,80}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>icon_xiaochou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1718},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>icon_xiaochou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,609},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>icon_xiaochou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,556},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>ui_baoshi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,348},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>ui_baoshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1103},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>ui_baoshi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1702},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,41}}</string>
                <key>sourceSize</key>
                <string>{22,41}</string>
            </dict>
            <key>ui_beijingicon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,290},{322,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,282}}</string>
                <key>sourceSize</key>
                <string>{322,282}</string>
            </dict>
            <key>ui_beijingicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,577},{322,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,282}}</string>
                <key>sourceSize</key>
                <string>{322,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>challenge.png</string>
            <key>size</key>
            <string>{1019,1765}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b26b44cad632e50f6490dd818dea7e4:0e8473eb66bca4829a577fcdfa91a250:782916478e48401d4bab0129f7397522$</string>
            <key>textureFileName</key>
            <string>challenge.png</string>
        </dict>
    </dict>
</plist>
