<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lunzi/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,610},{163,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,171}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>lunzi/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1091},{163,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,171}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>lunzi/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1091},{163,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,171}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>lunzi/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1256},{163,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,171}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>lunzi/0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1254},{163,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,169}}</string>
                <key>sourceSize</key>
                <string>{163,169}</string>
            </dict>
            <key>lunzi/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,444},{164,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,171}}</string>
                <key>sourceSize</key>
                <string>{164,171}</string>
            </dict>
            <key>lunzi/0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1081},{163,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,171}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>qianting0.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,930},{196,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,159}}</string>
                <key>sourceSize</key>
                <string>{196,159}</string>
            </dict>
            <key>qianting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1425},{40,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,127}}</string>
                <key>sourceSize</key>
                <string>{40,127}</string>
            </dict>
            <key>qianting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1062},{125,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,182}}</string>
                <key>sourceSize</key>
                <string>{125,182}</string>
            </dict>
            <key>qianting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1493},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>qianting4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,775},{207,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,174}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>qianting5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1429},{130,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,178}}</string>
                <key>sourceSize</key>
                <string>{130,178}</string>
            </dict>
            <key>sce4/ailis2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,395},{168,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,393}}</string>
                <key>sourceSize</key>
                <string>{168,393}</string>
            </dict>
            <key>sce4/ailisi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1256},{203,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,152}}</string>
                <key>sourceSize</key>
                <string>{203,152}</string>
            </dict>
            <key>sce4/ailisi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,741},{234,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,225}}</string>
                <key>sourceSize</key>
                <string>{234,225}</string>
            </dict>
            <key>sce4/ailisi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1493},{154,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,82}}</string>
                <key>sourceSize</key>
                <string>{154,82}</string>
            </dict>
            <key>sce4/ailisi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1425},{130,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,141}}</string>
                <key>sourceSize</key>
                <string>{130,141}</string>
            </dict>
            <key>sce4/ailisi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1246},{105,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,176}}</string>
                <key>sourceSize</key>
                <string>{105,176}</string>
            </dict>
            <key>sce4/ailisi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,790},{138,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,150}}</string>
                <key>sourceSize</key>
                <string>{138,150}</string>
            </dict>
            <key>sce4/ailisi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,968},{111,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,196}}</string>
                <key>sourceSize</key>
                <string>{111,196}</string>
            </dict>
            <key>sce4/ailisi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,187},{255,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,310}}</string>
                <key>sourceSize</key>
                <string>{255,310}</string>
            </dict>
            <key>sce4/ailisi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1424},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>scence1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,444},{276,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,295}}</string>
                <key>sourceSize</key>
                <string>{276,295}</string>
            </dict>
            <key>scence1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,282},{129,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,116}}</string>
                <key>sourceSize</key>
                <string>{129,116}</string>
            </dict>
            <key>scence1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,187},{120,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,93}}</string>
                <key>sourceSize</key>
                <string>{120,93}</string>
            </dict>
            <key>scence1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1256},{235,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,224}}</string>
                <key>sourceSize</key>
                <string>{235,224}</string>
            </dict>
            <key>scence1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,951},{195,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,109}}</string>
                <key>sourceSize</key>
                <string>{195,109}</string>
            </dict>
            <key>scence2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,808},{528,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,161}}</string>
                <key>sourceSize</key>
                <string>{528,161}</string>
            </dict>
            <key>scence2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1338},{236,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,193}}</string>
                <key>sourceSize</key>
                <string>{236,193}</string>
            </dict>
            <key>scence2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1},{184,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,432}}</string>
                <key>sourceSize</key>
                <string>{184,432}</string>
            </dict>
            <key>scence2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{588,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,392}}</string>
                <key>sourceSize</key>
                <string>{588,392}</string>
            </dict>
            <key>scence2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{401,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,411}}</string>
                <key>sourceSize</key>
                <string>{401,411}</string>
            </dict>
            <key>scence2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,808},{446,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,207}}</string>
                <key>sourceSize</key>
                <string>{446,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dynamicScene.png</string>
            <key>size</key>
            <string>{1024,1576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a04fcd085a56919710b239c0502ac66:0fb7840d973052dda0b2ab2f44fe727a:6fefb05d1516ea53cb6c206943bb9a94$</string>
            <key>textureFileName</key>
            <string>dynamicScene.png</string>
        </dict>
    </dict>
</plist>
