<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7Daily_icon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,390},{104,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>7Daily_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,358},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>7Daily_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,208},{176,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,109}}</string>
                <key>sourceSize</key>
                <string>{176,109}</string>
            </dict>
            <key>7Daily_icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,329},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>7Daily_icon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1},{200,205}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,205}}</string>
                <key>sourceSize</key>
                <string>{200,211}</string>
            </dict>
            <key>Ad_icon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,358},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>Ad_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,390},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>Roulette_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,329},{148,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,142}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>Roulette_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1},{326,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,325}}</string>
                <key>sourceSize</key>
                <string>{326,325}</string>
            </dict>
            <key>Roulette_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{387,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,387}}</string>
                <key>sourceSize</key>
                <string>{387,387}</string>
            </dict>
            <key>Roulette_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,319},{108,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,154}}</string>
                <key>sourceSize</key>
                <string>{108,154}</string>
            </dict>
            <key>Roulette_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1},{61,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,279}}</string>
                <key>sourceSize</key>
                <string>{61,279}</string>
            </dict>
            <key>Roulette_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,329},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>Ui2_btn_B0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,390},{73,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,174}}</string>
                <key>sourceSize</key>
                <string>{73,174}</string>
            </dict>
            <key>Ui2_btn_B1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,390},{73,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,174}}</string>
                <key>sourceSize</key>
                <string>{73,174}</string>
            </dict>
            <key>Ui2_btn_G0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,208},{73,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,174}}</string>
                <key>sourceSize</key>
                <string>{73,174}</string>
            </dict>
            <key>Ui2_btn_G1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,283},{73,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,174}}</string>
                <key>sourceSize</key>
                <string>{73,174}</string>
            </dict>
            <key>Ui2_btn_P0.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1},{73,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,174}}</string>
                <key>sourceSize</key>
                <string>{73,174}</string>
            </dict>
            <key>Ui2_btn_P1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1},{73,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,174}}</string>
                <key>sourceSize</key>
                <string>{73,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LunPan.png</string>
            <key>size</key>
            <string>{1144,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6128e1aae1c4ebdeacbfde4d3eed03db:3e52ec7a5ef1f5c615ba6e3f41f9dffc:301d3abf38859f39e29ede6561c4d473$</string>
            <key>textureFileName</key>
            <string>LunPan.png</string>
        </dict>
    </dict>
</plist>
