<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scence2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,210},{528,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,161}}</string>
                <key>sourceSize</key>
                <string>{528,161}</string>
            </dict>
            <key>scence2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,187},{236,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,193}}</string>
                <key>sourceSize</key>
                <string>{236,193}</string>
            </dict>
            <key>scence2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1},{184,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,432}}</string>
                <key>sourceSize</key>
                <string>{184,432}</string>
            </dict>
            <key>scence2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{588,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,392}}</string>
                <key>sourceSize</key>
                <string>{588,392}</string>
            </dict>
            <key>scence2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1},{401,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,411}}</string>
                <key>sourceSize</key>
                <string>{401,411}</string>
            </dict>
            <key>scence2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1},{446,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,207}}</string>
                <key>sourceSize</key>
                <string>{446,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dynamicScene.png</string>
            <key>size</key>
            <string>{1885,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539809345aa2fba20ef628c9636d448a:e1efe29b80d8e9bf2825dcd24134f949:df85140610a3e78d249370e7d8570bc6$</string>
            <key>textureFileName</key>
            <string>dynamicScene.png</string>
        </dict>
    </dict>
</plist>
