<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Box2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,529},{223,178}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{223,178}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,529},{223,186}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{223,186}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,357},{233,202}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,523},{255,202}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,314},{259,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1},{259,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1240},{223,178}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{223,178}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,754},{223,186}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{223,186}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,325},{233,202}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,262},{255,202}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,853},{259,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,575},{259,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1232},{226,178}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{226,178}}</string>
                <key>sourceSize</key>
                <string>{262,214}</string>
            </dict>
            <key>Box4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,402},{226,192}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{226,192}}</string>
                <key>sourceSize</key>
                <string>{262,214}</string>
            </dict>
            <key>Box4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,363},{236,212}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,212}}</string>
                <key>sourceSize</key>
                <string>{262,214}</string>
            </dict>
            <key>Box4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1114},{258,214}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,214}}</string>
                <key>sourceSize</key>
                <string>{262,214}</string>
            </dict>
            <key>Box4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,598},{262,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,214}}</string>
                <key>sourceSize</key>
                <string>{262,214}</string>
            </dict>
            <key>Box4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1},{262,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{262,212}}</string>
                <key>sourceSize</key>
                <string>{262,214}</string>
            </dict>
            <key>Box6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1015},{223,184}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{223,184}}</string>
                <key>sourceSize</key>
                <string>{259,210}</string>
            </dict>
            <key>Box6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1232},{223,190}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{223,190}}</string>
                <key>sourceSize</key>
                <string>{259,210}</string>
            </dict>
            <key>Box6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,363},{233,210}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,210}}</string>
                <key>sourceSize</key>
                <string>{259,210}</string>
            </dict>
            <key>Box6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,836},{255,210}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,210}}</string>
                <key>sourceSize</key>
                <string>{259,210}</string>
            </dict>
            <key>Box6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,922},{259,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,210}}</string>
                <key>sourceSize</key>
                <string>{259,210}</string>
            </dict>
            <key>Box6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,592},{259,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{259,208}}</string>
                <key>sourceSize</key>
                <string>{259,210}</string>
            </dict>
            <key>Box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1240},{223,178}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{223,178}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,942},{223,186}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{223,186}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,780},{233,202}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1},{255,202}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,262},{259,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1},{259,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,202}}</string>
                <key>sourceSize</key>
                <string>{259,202}</string>
            </dict>
            <key>Logo0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,959},{263,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,140}}</string>
                <key>sourceSize</key>
                <string>{263,140}</string>
            </dict>
            <key>Logo0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,959},{282,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,123}}</string>
                <key>sourceSize</key>
                <string>{282,123}</string>
            </dict>
            <key>Logo0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1},{304,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,211}}</string>
                <key>sourceSize</key>
                <string>{304,211}</string>
            </dict>
            <key>Logo0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{399,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,200}}</string>
                <key>sourceSize</key>
                <string>{399,200}</string>
            </dict>
            <key>fish_Aquarium0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,602},{354,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,380}}</string>
                <key>sourceSize</key>
                <string>{354,380}</string>
            </dict>
            <key>fish_Aquarium0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1396},{261,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,60}}</string>
                <key>sourceSize</key>
                <string>{261,60}</string>
            </dict>
            <key>fish_Aquarium0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,862},{88,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,103}}</string>
                <key>sourceSize</key>
                <string>{88,103}</string>
            </dict>
            <key>fish_Aquarium0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1396},{74,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,59}}</string>
                <key>sourceSize</key>
                <string>{74,59}</string>
            </dict>
            <key>fish_Aquarium0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,862},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>fish_Aquarium1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,984},{355,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,410}}</string>
                <key>sourceSize</key>
                <string>{355,410}</string>
            </dict>
            <key>fish_Aquarium1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1396},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>fish_Aquarium2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,601},{356,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,331}}</string>
                <key>sourceSize</key>
                <string>{356,331}</string>
            </dict>
            <key>fish_Aquarium4.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1},{349,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,360}}</string>
                <key>sourceSize</key>
                <string>{349,360}</string>
            </dict>
            <key>pay_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,307},{129,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,47}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
            <key>pay_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,265},{129,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,47}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
            <key>pay_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,862},{129,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,47}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
            <key>pay_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1183},{129,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,47}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
            <key>pay_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1183},{129,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,47}}</string>
                <key>sourceSize</key>
                <string>{129,47}</string>
            </dict>
            <key>pay_ads.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1243},{269,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{269,219}}</string>
                <key>sourceSize</key>
                <string>{271,219}</string>
            </dict>
            <key>pay_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,989},{316,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,428}}</string>
                <key>sourceSize</key>
                <string>{316,428}</string>
            </dict>
            <key>pay_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{986,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{986,132}}</string>
                <key>sourceSize</key>
                <string>{986,132}</string>
            </dict>
            <key>pay_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{599,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,118}}</string>
                <key>sourceSize</key>
                <string>{599,118}</string>
            </dict>
            <key>pay_hot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,307},{109,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,48}}</string>
                <key>sourceSize</key>
                <string>{109,48}</string>
            </dict>
            <key>pay_hot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,1},{171,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,174}}</string>
                <key>sourceSize</key>
                <string>{171,174}</string>
            </dict>
            <key>pay_hot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,174},{169,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,149}}</string>
                <key>sourceSize</key>
                <string>{169,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Gamebox.png</string>
            <key>size</key>
            <string>{2025,1464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c9d99e6efc812e5fd67dd90f75c7b3a:0785a6ccb840f46d859c8fc980308c24:e5292ec4d075727962ccb693993acd0a$</string>
            <key>textureFileName</key>
            <string>Gamebox.png</string>
        </dict>
    </dict>
</plist>
