<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Holiday/Holiday_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,1325},{165,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,73}}</string>
                <key>sourceSize</key>
                <string>{165,73}</string>
            </dict>
            <key>Holiday/Holiday_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,290},{165,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,121}}</string>
                <key>sourceSize</key>
                <string>{165,121}</string>
            </dict>
            <key>Holiday/Holiday_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,457},{111,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,154}}</string>
                <key>sourceSize</key>
                <string>{111,154}</string>
            </dict>
            <key>Holiday/Holiday_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,175},{113,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,144}}</string>
                <key>sourceSize</key>
                <string>{113,144}</string>
            </dict>
            <key>Holiday/Holiday_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,1},{147,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,172}}</string>
                <key>sourceSize</key>
                <string>{147,172}</string>
            </dict>
            <key>level_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,663},{141,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,28}}</string>
                <key>sourceSize</key>
                <string>{141,28}</string>
            </dict>
            <key>level_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,613},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>level_card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,694},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,929},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1164},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1399},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1634},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_card5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1399},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_card6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1399},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_card7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1399},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_card8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1634},{177,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,233}}</string>
                <key>sourceSize</key>
                <string>{177,233}</string>
            </dict>
            <key>level_cardbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,719},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_cardbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1381},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_cardbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,719},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_cardbg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1381},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_cardbg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_cardbg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,663},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_cardbg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_cardbg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_cardbg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,663},{660,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,440}}</string>
                <key>sourceSize</key>
                <string>{660,440}</string>
            </dict>
            <key>level_comingsoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{716,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,468}}</string>
                <key>sourceSize</key>
                <string>{716,468}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>levelcard.png</string>
            <key>size</key>
            <string>{1947,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45665d91575417febe28497caac35200:8874b76c92c8ee545d39b8b2b519951a:1086223691666e90c414b5a17c08e61e$</string>
            <key>textureFileName</key>
            <string>levelcard.png</string>
        </dict>
    </dict>
</plist>
