<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_4_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,772},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,772},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,772},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,772},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,772},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,772},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_4_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>car_4.png</string>
            <key>size</key>
            <string>{938,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0362f07922778bde6a77ba0335a1db91:1/1$</string>
            <key>textureFileName</key>
            <string>car_4.png</string>
        </dict>
    </dict>
</plist>
