<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>card_bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>game_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>game_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>game_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>game_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>game_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>game_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,464},{100,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,152}}</string>
                <key>sourceSize</key>
                <string>{100,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardBg.png</string>
            <key>size</key>
            <string>{618,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83ae1c82b99017fc99f8152b990a3da2:1/1$</string>
            <key>textureFileName</key>
            <string>cardBg.png</string>
        </dict>
    </dict>
</plist>
